body {
}

#container
{
      width: 700px;
      border: solid 1px black;
      margin: 0px auto;
}

#header
{
      color: #FFFFFF;
      width: 699px;     
      height: 81px;
      background-color: #639BF1;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#sidePanel
{
      width: 190px;     
      height: 397px;
      margin-top: 2px;
      background-color: #293E6A;
      color: #FFFFFF;   
      padding: 4px;
      text-align: center;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      
}

#content
{
      width: 500px;     
      float: right;
      height: 407px;    
      margin-top: 2px;
      margin-left:auto;
      background-color: #3B5998;
}

#footer
{
      background-color: #639BF1;
      padding: 12px;   
      width: 674px;
      color: #000000; 
      font-size: 90%;
      text-align: center;     
      clear: both;
      border-top: 5px solid #FFFFFF;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 
{
    text-align: center;
}

hr
{
    width: 90%;
}

#headerLink
{
    color:white;
    text-decoration-line:none;
}
